@font-face {
font-family: Oxygen;
src: url(../fonts/Oxygen-Regular.ttf);
font-weight:bold;
}

@font-face {
font-family: Oxygen-bold;
src: url(../fonts/Oxygen-Bold.ttf);
font-weight:bold;
}

@font-face {
font-family: SansPro;
src: url(../fonts/SourceSansPro-Regular.ttf);
font-weight:bold;
}

@font-face {
font-family: SansPro-bold;
src: url(../fonts/SourceSansPro-Bold.ttf);
font-weight:bold;
}

html, body {
  height: 100%;
} 

.navbar-brand {
  float: left;
  font-size: 40px;
  line-height: 20px;
  font-family: 'SansPro', Helvetica, Arial, sans-serif;
  color: #fff;
  padding-top: 5px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #fff;
}

.navbar-default {
  text-shadow: none;
  background-color: rgba(255,255,255,.85);
  top: -52px;
  transition: top .5s;
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  -o-transition: top .5s;
  -ms-transition: top .5s;
}

.navbar-default a {
  cursor: pointer;
  font-family: 'SansPro-bold', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand {
  color: #777777;
  font-size: 25px;
  padding-top: 15px;
}

.navbar-pills .nav > li > a:hover,
.navbar-pills .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar-pills .nav > li > a {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.navbar-pills .nav > li.active > a:hover,
.navbar-pills .nav > li.active > a:focus,
.navbar-pills .nav > li.active > a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 992px) {
  .navbar-pills {
    display: none;
  }

  .navbar-default {
    top: 0;
  }

  .home .main-jb {
    margin: 10px 0 10px !important;
  }
}

@media (min-width: 768px) {
  .navbar-default li.active a {
    background-color: rgba(231, 231, 231, 0.4) !important;
    border-top: 3px solid black;
    border-color: #5bc0de;
    padding-top: 12px;
  }

  .navbar-default li.active a:after {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(91, 192, 222, 0);
  border-top-color: #5bc0de;
  border-width: 6px;
  margin-left: -6px;
}
}

.main section {
  background-color: #fff;
}

.main section.home {
  background-image: url(../img/header.jpg);  
  background-position-x: center !important;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  padding-top: 45px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  font-family: 'SansPro-bold', Helvetica, Arial, sans-serif;
}

.main section.about,
.main section.portfolio,
.main section.team,
.main section.contact {
  height: 800px;
}

.home .main-jb {
  margin: 80px 0 90px;
  background: transparent;
  color: #fff;
  padding-left: 15px !important;
}

.home .main-jb h1,
.home .main-jb p {
  font-family: 'Oxygen', sans-serif !important;
}

.home .main-jb .btn {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Oxygen-bold', sans-serif;
  font-weight: bold;
  text-shadow: none;
  padding: 20px 30px;
  width: 200px;
}

/*************************************************************************/
/* Services section styles                                               */
/*************************************************************************/

.services {
  padding: 30px 0 30px;
}

.services img {
  position: relative;
  display: table;
  margin: auto;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.services .row {
  margin-bottom: 50px;
}

.services .row:last-child {
  margin-bottom: 0;
}

.services .well {
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  position: relative;
  box-shadow: none;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.services .well h3 {
  margin-top: 0;
  font-family: Gabriela, cursive;
  color: #384047;
}

.services .well p {
  margin-bottom: 0;
  font-size: 20px;
  color: #8c989e;
  line-height: 200%;
}

@media (min-width: 992px) {
  .services img {
    margin-top: 30px;
  }

  .services .img-right img {
    left: 150px;
    opacity: 0;
  }

  .services .img-left img {
    right: 150px;
    opacity: 0;
  }

  .services .img-right .well {
    right: 150px;
    opacity: 0;
  }

  .services .img-left .well {
    left: 150px;
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .service .well {
    top: 150px;
    opacity: 0;
  }

  .service .well p {
    font-size: 16px;
  }

  .service img {
    margin-bottom: 20px;
    top: 150px;
    opacity: 0;
  }
}

/*************************************************************************/
/* ENDOF Services section styles                                         */
/*************************************************************************/