@font-face {
font-family: Gabriela;
src: url(../fonts/Gabriela-Regular.ttf);
font-weight:bold;
}

html, body {
  height: 100%;
} 

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 40px;
  line-height: 20px;
  font-family: 'Gabriela', cursive;
  font-weight: bold;
  color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #fff;
}

.navbar-default {
  text-shadow: none;
}

.navbar-default a {
  cursor: pointer;
}

.navbar-default .navbar-brand {
  color: #777777;
  font-size: 25px;
}

.navbar-default {
  top: -52px;
  transition: top .5s;
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  -o-transition: top .5s;
  -ms-transition: top .5s;
}

.navbar-pills .nav > li > a:hover,
.navbar-pills .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar-pills .nav > li > a {
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.navbar-pills .nav > li.active > a:hover,
.navbar-pills .nav > li.active > a:focus,
.navbar-pills .nav > li.active > a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 992px) {
  .navbar-pills {
    display: none;
  }

  .navbar-default {
    top: 0;
  }

  .home .main-jb {
    margin: 10px 0 10px !important;
  }
}

.main section {
  background-color: #fff;
}

.main section.home {
  background-image: url(../img/header.jpg);  
  /*background-position-x: center !important;*/
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  min-height: 100%;
  padding-top: 45px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.main section.about,
.main section.portfolio,
.main section.team,
.main section.contact {
  height: 800px;
}

.main section.services {
  background-position-x: center !important;
  background-size: cover;
  background-attachment: fixed;
}

.home .main-jb {
  margin: 80px 0 160px;
  background: transparent;
  color: #fff;
  padding-left: 15px !important;
  text-align: center;
}

.home .main-jb h1,
.home .main-jb p {
  font-family: Gabriela, cursive !important;
}

.home .main-jb p.lead {
  color: rgba(255,255,255,0.8);
}

.home .main-jb .btn {
  margin: 50px auto 0;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: none;
  padding: 20px 30px;
  opacity: 0.2;
  width: 200px;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.home .main-jb:hover .btn {
  opacity: 1;
}

/*************************************************************************/
/* Services section styles                                               */
/*************************************************************************/

.services {
  padding: 30px 0 30px;
}

.services img {
  position: relative;
  display: table;
  margin: auto;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.services .row {
  margin-bottom: 50px;
}

.services .row:last-child {
  margin-bottom: 0;
}

.services .well {
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  position: relative;
  box-shadow: none;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.services .well h3 {
  margin-top: 0;
  font-family: Gabriela, cursive;
  color: #384047;
}

.services .well p {
  margin-bottom: 0;
  font-size: 20px;
  color: #8c989e;
  line-height: 200%;
}

@media (min-width: 992px) {
  .services img {
    margin-top: 30px;
  }

  .services .img-right img {
    left: 150px;
    opacity: 0;
  }

  .services .img-left img {
    right: 150px;
    opacity: 0;
  }

  .services .img-right .well {
    right: 150px;
    opacity: 0;
  }

  .services .img-left .well {
    left: 150px;
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .service .well {
    top: 150px;
    opacity: 0;
  }

  .service .well p {
    font-size: 16px;
  }

  .service img {
    margin-bottom: 20px;
    top: 150px;
    opacity: 0;
  }
}

/*************************************************************************/
/* ENDOF Services section styles                                         */
/*************************************************************************/